.c-tabs
	$parent: &
	&__tabs
		&-nav
			pointer-events: none
			font-size: 0
		&-el
			pointer-events: auto
			display: inline-block
			vertical-align: middle
			padding: 0 27px
			height: 50px
			border-radius: 5px
			border: 3px solid rgba(0, 0, 0, 0.05)
			background-color: #005792
			color: $white
			+f('web700', 16, 44)
			cursor: pointer
			+trs
			span
				display: inline-block
				vertical-align: middle
				max-width: 140px
				line-height: 16px
				text-align: center
			&:not(:first-child)
				margin-left: 10px
			&.is-active
				pointer-events: none
				background-color: #ed9c32
	&__tab
		&:not(:first-child)
			display: none
	&_maps
		#{$parent}__tabs-nav
			position: absolute
			top: 50px
			left: 50%
			width: 100%
			max-width: 1130px
			padding: 0 15px
			transform: translateX(-50%)
			z-index: 1
	&_work
		#{$parent}__tabs-nav
			text-align: center
		#{$parent}__tabs-el
			padding: 0 19px
			&:nth-child(1)
				padding: 0 9px
			&:nth-child(3)
				padding: 0 25px
			&:nth-child(4)
				padding: 0 6px
			&:nth-child(5)
				padding: 0 26px