.header
	&__menu
		padding: 10px 0
		background-color: #131c27
	&__container
		display: flex
		justify-content: space-between
		padding: 28px 15px
	&__call
		text-align: center
		&-btn
			margin-bottom: 5px
			
.nav
	background: $blue-dark
	&__list
		max-width: 1170px
		margin: 0 auto
		padding: 0 15px
		text-align: center
		font-size: 0
		+justify
		li
			display: inline-block
			vertical-align: middle
			height: 55px
			padding: 0 20px
			line-height: 55px
			&.is-active
				background: $white
				border-radius: 5px 5px 0 0
			&.is-active a
				color: $blue-dark
			a
				color: $white
				font-size: 16px