.info
	padding: 0 0 85px
	background: url("../img/bg/info_bg.jpg") no-repeat 50% 50%/cover
	&__menu
		padding: 22px 0 18px
		background: rgba($blue-dark, .5)
		&-list
			max-width: 1140px
			margin: 0 auto
			padding: 0 15px
			font-size: 0
			text-align: center
		&-item
			display: inline-block
			vertical-align: top
			margin: 0 30px
		&-link
			text-transform: uppercase
			color: $white
			font-size: 17px
			line-height: 1
			border-bottom: 1px solid $white
			transition: border-color .3s ease
			.no-touch &:hover
				border-bottom-color: transparent
	&__row
		margin: 90px 0 50px
		font-size: 0
	&__item
		display: inline-block
		vertical-align: top
		width: 25%
		text-align: center
		$parent: &
		&:hover #{$parent}-icon_3::before
			height: 100%
		&-icon
			position: relative
			height: 80px
			margin: 0 auto 20px
			text-align: center
			&::before, &::after
				content: ''
			&::after
				display: block
				margin: 0 auto
			&::before
				position: absolute
				top: 0
				right: 0
			&_1
				width: 76px
				&::after
					+s(76, 72, -5, -162, info)
				&::before
					+s(63, 58, -5, -466, info)
					animation: heightUp63 2s both infinite
			&_2
				width: 78px
				&::after
					+s(78, 76, -5, -81, info)
				&::before
					+s(78, 76, -5, 0, info)
					animation: scaleUp 1s both infinite
			&_3
				width: 72px
				&::after
					+s(72, 76, -5, -311, info)
				&::before
					top: 5px
					right: 4px
					+s(66, 69, -5, -392, info)
					animation: heightUp75 1.5s both infinite
			&_4
				width: 75px
				&::after
					+s(75, 67, -5, -239, info)
				&::before
					right: 5px
					+s(38, 47, -5, -529, info)
					animation: heightUpMod 3s both infinite
		&-text
			max-width: 210px
			margin: 0 auto
			color: $white
			font-size: 20px
			line-height: 25px
			
	&__counter-wrap
		max-width: 600px
		margin: 0 auto
		text-align: center
	&__counter-title
		color: $white
		+f('web700', 30)
	&__counter
		margin: 25px 0 0
		font-size: 0
		&-item
			display: inline-block
			vertical-align: top
			color: $white
			&:not(:first-child)
				margin-left: 16px
		&-digit
			margin-bottom: 10px
			font-size: 0
			span
				display: inline-block
				width: 47px
				height: 54px
				line-height: 51px
				border-radius: 5px
				border: 2px solid #ffffff
				background-color: rgba($blue-dark, .5)
				font-size: 38px
				&:not(:first-child)
					margin-left: 4px
		&-text
			+f('web400i', 15)
			