.lead
	padding: 45px 0 100px
	background: #f8fafc
	+sm
		padding: 25px 0 50px
	&__container
		text-align: center
	&__list
		margin: 42px -15px -15px
		font-size: 0
	&__item
		position: relative
		display: inline-block
		vertical-align: top
		width: 33.33333%
		margin: 0 0 60px
		padding: 0 15px
		$parent: &
		+sm
			width: 48%
			cursor: pointer
			margin: 0 0 30px
		+xs
			width: 100%
			margin: 0 0 50px
		&:hover::after
			opacity: 1
			transform: scaleX(1)
		&:hover &-details
			transform: translate3d(0, 0, 0) scaleX(1)
			opacity: 1
		&::after
			position: absolute
			top: -30px
			left: 0
			right: 0
			bottom: 0
			z-index: 1
			border-radius: 5px 5px 0 0
			background: $white
			border: 3px solid rgba(0, 0, 0, 0.05)
			border-bottom: 0
			content: ''
			opacity: 0
			transform: scaleX(0)
			transition: .3s ease
		&-img
			position: relative
			border-radius: 50%
			overflow: hidden
			img
				position: relative
				z-index: 2
				+gpu
			&::after
				position: absolute
				top: 21px
				left: 50%
				margin-left: -100px
				z-index: 1
				width: 200px
				height: 200px
				background: #d4edfc
				border-radius: 50%
				content: ''
		&-info
			position: relative
			z-index: 2
			margin: 10px 0 0
			color: $black
			font-size: 18px
			line-height: 25px
		&-name
			display: block
			margin-bottom: 3px
			+f('web700')
		&-pos
			line-height: 20px
		&-details
			position: absolute
			top: 100%
			left: 0
			right: 0
			z-index: 3
			padding: 23px 20px
			transform: translate3d(0, 0, 0) scaleX(0)
			opacity: 0
			color: $gray
			font-size: 16px
			line-height: 22px
			transition: .4s ease
			border-radius: 0 0 5px 5px
			border: 3px solid rgba(0, 0, 0, 0.05)
			border-top: 0
			background: $white
			strong
				+f('web700')
