.icon-diamond {
  width: 0.98em;
  height: 1em;
  fill: #0f9bd8;
  stroke: initial;
}
.icon-graph {
  width: 0.77em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
