.icon-arr-l {
  width: 0.61em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}
.icon-arr-r {
  width: 0.56em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}
.icon-diamond {
  width: 0.98em;
  height: 1em;
  fill: #0f9bd8;
  stroke: initial;
}
.icon-fb {
  width: 0.5em;
  height: 1em;
  fill: #ffdc36;
  stroke: initial;
}
.icon-graph {
  width: 0.77em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-quote-l {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-quote-r {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-vk {
  width: 1.91em;
  height: 1em;
  fill: #ffdc36;
  stroke: initial;
}
