if info ? info : info = []

//begin info
+b.SECTION.info
	+e.menu
		+e.UL.menu-list
			-menuList = ['О компании', 'Работа у нас', 'Все работы', 'Контакты']
			for menuLink in menuList
				li.info__menu-item: a.info__menu-link(href='#!')= menuLink
	+e.container.container
		+e.row
			+e.item
				+e.item-icon._1
				+e.P.item-text 10 филиалов в Самаре, Тольятти и в Ижевске
			+e.item
				+e.item-icon._2
				+e.P.item-text Бесплатные  корпоративы
			+e.item
				+e.item-icon._3
				+e.P.item-text Более 200  сотрудников в штате
			+e.item
				+e.item-icon._4
				+e.P.item-text Корпоративное  обучение

		+e.counter-wrap
			+e.counter-title Мы выплачиваем зарплату вовремя уже:
			+e.counter.js-info-counter(data-init-year='2005' data-init-month='7' data-init-day='6')
				+e.counter-item
					+e.counter-digit.js-info-counter-year
						+e.SPAN
						+e.SPAN
					+e.counter-text Лет
				+e.counter-item
					+e.counter-digit.js-info-counter-month
						+e.SPAN
						+e.SPAN
					+e.counter-text Месяцев
				+e.counter-item
					+e.counter-digit.js-info-counter-day
						+e.SPAN
						+e.SPAN
					+e.counter-text Дней