if report ? report : report = []
if report.title ? report.title : report.title = 'Отчеты с прошедших мероприятий'

//begin report
+b.SECTION.report(class= report.classMod ? report.classMod : '')
	+e.container.container
		+b.H3.title-lg= report.title
		+e.block
			+e.calendar.calendar-default
				+b.js-calendar
			+e.events
				+e.event-date
					+e.event-date-icon
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='40', height='37', viewbox='0 0 40 37')
							defs
								path#a24(d='M636.53 2563c.43 0 .78.34.78.76s-.35.76-.78.76a.77.77 0 0 1-.78-.76c0-.42.35-.76.78-.76zm20.82 12.99c.43 0 .78.34.78.75 0 .42-.35.76-.78.76a.77.77 0 0 1-.78-.76c0-.41.35-.75.78-.75zm-15.47-.19c.44 0 .79.34.79.76s-.35.76-.79.76a.77.77 0 0 1-.78-.76c0-.42.35-.76.79-.76zm22.92 1.45l-5.51 5.87 2.52 5.78c.1.23.08.5-.06.71a.8.8 0 0 1-.66.34h-19.2a.8.8 0 0 1-.62-.29.74.74 0 0 1-.14-.65l1.36-5.28h-8.7l-3.37 13.45c-.25 1-.93 1.86-1.85 2.35a3.9 3.9 0 0 1-3.03.29.76.76 0 0 1-.52-.9l4.05-16.13 3.12-12.45.01-.02.52-2.09a3.04 3.04 0 0 1 2.85-2.21c.67 0 1.28.28 1.66.75.4.49.53 1.15.36 1.81l-.3 1.18h18.22a.8.8 0 0 1 .62.29c.15.18.2.42.14.65l-3.12 12.45a.78.78 0 0 1-.76.58h-8.3l-1.2 4.7h17.02l-2.25-5.17a.73.73 0 0 1 .14-.8l4.65-4.96h-1.78a.77.77 0 0 1-.78-.76c0-.41.35-.75.78-.75h3.55c.3 0 .59.17.71.45.13.27.08.59-.13.81zm-30.85-7.49h1.74l.38-1.53c.06-.22.03-.4-.07-.52-.1-.14-.3-.17-.43-.17-.57 0-1.19.49-1.33 1.04zm-1.77 13.97h-1.74l-3.7 14.76c.37-.01.73-.1 1.07-.28.55-.3.94-.79 1.09-1.39zm19.6-1.52l2.74-10.93h-20.95l-1.14 4.52h6.16c.44 0 .79.34.79.76s-.35.76-.79.76h-6.54l-1.23 4.89z')
							g(transform='translate(-625 -2563)')
								use(fill='#0095d6', xlink:href='#a24')

					+e.SPAN 04.04.2017
				+e.H4.event-title Вводный тренинг “Бирюзовый БГ”
				+e.event-descr
					+e.P Мы собрались для того чтобы понять и проникнуться историей появления организаций будущего. Поговорили о главных элементах бирюзовых организаций и подумали о том, как это можно реализовать в нашей компании.
				+e.photos
					+e.photos-in
						-i = 0
						while i < 3
							+e.photos-item
								+e.A(href='static/img/content/report-big.jpg' data-fancybox='report')
									+e.IMG(src=`static/img/content/report-${i + 1}.jpg` alt='image')
							-i++
					+e.A.photos-btn.btn._sm(href='#!') ПОКАЗАТЬ ЕЩЕ ФОТО