if story ? story : story = []
if story.title ? story.title : story.title = 'История компании'
if story.subTitle ? story.subTitle : story.subTitle = 'Наше развитие по годам'

//begin story
+b.SECTION.story(class= story.classMod ? story.classMod : '')
	+e.container.container
		+b.H3.title-lg= story.title
		+e.about
			+e.about-item
				+e.P Группа компаний “Бизнес-Гарант” была основана в 2005 году и вначале занималась только оказанием юридических услуг.
				+i('diamond')
			+e.about-item
				+e.P Наша компания находится в постоянном развитии, каждый год открываются новые офисы и запускаются новые услуги.
				+e.P
					+e.STRONG На данный момент действуют 5 направлений деятельности:
					+e.A(href='#!') Юридическая фирма,
					= ' '
					+e.A(href='#!') Бухгалтерский центр,
					= ' '
					+e.A(href='#!') Коллекторское агенство,
					= ' '
					+e.A(href='#!') Магазин готового бизнеса,
					= ' '
					+e.A(href='#!') Центр недвижимости.
				+i('graph')

	//begin timeline
	+b.timeline
		+b.H4.title-md= story.subTitle
		+e.block.js-timeline
			+e.track
				+e.item
					+e.SPAN.item-year 2005 г.
					+e.P.item-descr
						+e.STRONG Знание финансовой составляющей деятельности клиента
						= ' '
						| помогает сделать работу качественнее. Поэтому в скором времени в компании открылось бухгалтерское направление (КБЦ).
				+e.item
					+e.SPAN.item-year 2006 г.
					+e.P.item-descr
						+e.STRONG У нас появилось коллекторское агентсво  (КА)  
						= ' '
						| которое органично дополнило существующих два напрвления деятельности.
				+e.item
					+e.SPAN.item-year 2007 г.
					+e.P.item-descr
						+e.STRONG Мы стали основателем площадки по продаже готового бизнеса (МГБ) 
						= ' '
						| Несмотря на трудности и риски кризисного времени, появилось первое направление, занимающееся не услугами, а продажами - направление жилой недвижимости .
				+e.item
					+e.SPAN.item-year 2008 г.
					+e.P.item-descr
						+e.STRONG Знание финансовой составляющей деятельности клиента
						= ' '
						| помогает сделать работу качественнее. Поэтому в скором времени в компании открылось бухгалтерское направление (КБЦ).
				+e.item
					+e.SPAN.item-year 2009 г.
					+e.P.item-descr
						+e.STRONG У нас появилось коллекторское агентсво  (КА)  
						= ' '
						| которое органично дополнило существующих два напрвления деятельности.
				+e.item
					+e.SPAN.item-year 2010 г.
					+e.P.item-descr
						+e.STRONG Мы стали основателем площадки по продаже готового бизнеса (МГБ) 
						= ' '
						| Несмотря на трудности и риски кризисного времени, появилось первое направление, занимающееся не услугами, а продажами - направление жилой недвижимости .
				+e.item
					+e.SPAN.item-year 2011 г.
					+e.P.item-descr
						+e.STRONG Знание финансовой составляющей деятельности клиента
						= ' '
						| помогает сделать работу качественнее. Поэтому в скором времени в компании открылось бухгалтерское направление (КБЦ).
				+e.item
					+e.SPAN.item-year 2012 г.
					+e.P.item-descr
						+e.STRONG У нас появилось коллекторское агентсво  (КА)  
						= ' '
						| которое органично дополнило существующих два напрвления деятельности.
				+e.item
					+e.SPAN.item-year 2013 г.
					+e.P.item-descr
						+e.STRONG Мы стали основателем площадки по продаже готового бизнеса (МГБ) 
						= ' '
						| Несмотря на трудности и риски кризисного времени, появилось первое направление, занимающееся не услугами, а продажами - направление жилой недвижимости .
				+e.item
					+e.SPAN.item-year 2014 г.
					+e.P.item-descr
						+e.STRONG Знание финансовой составляющей деятельности клиента
						= ' '
						| помогает сделать работу качественнее. Поэтому в скором времени в компании открылось бухгалтерское направление (КБЦ).
				+e.item
					+e.SPAN.item-year 2015 г.
					+e.P.item-descr
						+e.STRONG У нас появилось коллекторское агентсво  (КА)  
						= ' '
						| которое органично дополнило существующих два напрвления деятельности.
				+e.item
					+e.SPAN.item-year 2016 г
					+e.P.item-descr
						+e.STRONG Мы стали основателем площадки по продаже готового бизнеса (МГБ) 
						= ' '
						| Несмотря на трудности и риски кризисного времени, появилось первое направление, занимающееся не услугами, а продажами - направление жилой недвижимости .
				+e.item
					+e.SPAN.item-year 2017 г.
					+e.P.item-descr
						+e.STRONG Мы стали основателем площадки по продаже готового бизнеса (МГБ) 
						= ' '
						| Несмотря на трудности и риски кризисного времени, появилось первое направление, занимающееся не услугами, а продажами - направление жилой недвижимости .

			+e.range
				+e.range-line
					+e.range-btn#timeline-range-btn
				+e.range-text
					-rangeYearsList = [2005, 2007, 2009, 2011, 2013, 2015, 2017]
					for rangeYear in rangeYearsList
						+e.range-year= rangeYear