if story ? story : story = []
if story.title ? story.title : story.title = 'История компании'
if story.subTitle ? story.subTitle : story.subTitle = 'Наше развитие по годам'

//begin story
+b.SECTION.story(class= story.classMod ? story.classMod : '')
	+e.container.container
		+b.H3.title-lg= story.title
		+e.about
			+e.about-item
				svg.icon.icon-diamond(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='65', height='66', viewbox='0 0 65 66')
					defs
						path#a9999(d='M309.88 956c-.07.17-.19.32-.33.44v.01l-31.1 35.12a1.29 1.29 0 0 1-1.93 0l-31.1-35.12v-.01a1.29 1.29 0 0 1-.12-1.83l11.22-12.72c.24-.27.6-.43.96-.43h40.01c.37 0 .72.16.96.43l11.23 12.72c.33.38.41.92.2 1.38zm-29.56-11.96l9.17 9.23 5.72-9.23zm-2.83.8l-9.28 9.34h18.55zm-17.73-.8l5.72 9.23 9.17-9.23zm-10.64 10.14h13.9l-5.74-9.26zm25.73 31.61l-10.5-29.03h-15.21zm30.98-29.03h-38.75l10.42 28.78 7.6-20.6a1.29 1.29 0 1 1 2.4.9l-7.33 19.9zm-13.87-2.58h13.9l-8.17-9.26zm-13.19-26.9v6.65a1.29 1.29 0 1 1-2.57 0v-6.64a1.29 1.29 0 1 1 2.57 0zm10.44 5.64l-4.7 4.7a1.28 1.28 0 0 1-1.81 0 1.3 1.3 0 0 1 0-1.83l4.68-4.7a1.29 1.29 0 1 1 1.82 1.83zm-17.19 4.7a1.28 1.28 0 0 1-1.81 0l-4.7-4.7a1.29 1.29 0 0 1 1.83-1.83l4.68 4.7c.5.5.5 1.32 0 1.82zm15.94 21.68a1.29 1.29 0 1 1 0 2.58 1.29 1.29 0 0 1 0-2.58z')
					g(transform='translate(-245 -926)')
						use(fill='#0f9bd8', xlink:href='#a9999')
				+e.P Группа компаний “Бизнес-Гарант” была основана в 2005 году и вначале занималась только оказанием юридических услуг.

			+e.about-item
				svg.icon.icon-graph(xmlns='http://www.w3.org/2000/svg', width='58', height='75', viewbox='0 0 58 75')
					path(d='M794.248,940.83H775.834a6.92,6.92,0,0,0-13.668,0H743.752A3.846,3.846,0,0,0,740,944.755v41.684a3.846,3.846,0,0,0,3.752,3.925h17.493l-5.681,17.706a1.472,1.472,0,0,0,.882,1.85,1.362,1.362,0,0,0,1.773-.92l5.981-18.636h9.6L779.781,1009a1.362,1.362,0,0,0,1.773.92,1.472,1.472,0,0,0,.882-1.85l-5.681-17.706h17.493A3.846,3.846,0,0,0,798,986.439V944.755A3.846,3.846,0,0,0,794.248,940.83ZM769,937.929a4.2,4.2,0,0,1,3.933,2.9h-7.866A4.2,4.2,0,0,1,769,937.929Zm26.2,48.51a0.975,0.975,0,0,1-.951.994H790.59V966.551a1.4,1.4,0,1,0-2.8,0v20.882H783.48v-16.4a1.4,1.4,0,1,0-2.8,0v16.4h-3.933v-11.61a1.4,1.4,0,1,0-2.8,0v11.61H770.4V972.1a1.4,1.4,0,1,0-2.8,0v15.332h-4.067v-8.06a1.4,1.4,0,1,0-2.8,0v8.06h-3.252v-7.468a1.4,1.4,0,1,0-2.8,0v7.468h-3.75v-5.762a1.4,1.4,0,1,0-2.8,0v5.762h-4.375a0.974,0.974,0,0,1-.951-0.994V944.755a0.974,0.974,0,0,1,.951-1h50.5a0.975,0.975,0,0,1,.951,1v41.684h0Zm-4.616-35.783c0-.02-0.006-0.039-0.008-0.059s-0.007-.055-0.012-0.082-0.011-.046-0.016-0.069-0.011-.047-0.018-0.07-0.014-.045-0.022-0.067-0.015-.046-0.024-0.069-0.017-.04-0.026-0.059-0.021-.048-0.033-0.071-0.02-.036-0.031-0.054-0.025-.046-0.039-0.069-0.027-.038-0.04-0.056-0.027-.04-0.042-0.059-0.052-.062-0.079-0.091l-0.013-.016a0.179,0.179,0,0,1-.014-0.013c-0.029-.029-0.058-0.057-0.089-0.083s-0.035-.028-0.052-0.042-0.038-.03-0.058-0.044-0.041-.026-0.061-0.039l-0.056-.035-0.063-.031c-0.02-.01-0.041-0.021-0.062-0.03l-0.06-.023-0.07-.026-0.058-.015c-0.025-.007-0.049-0.014-0.075-0.019s-0.043-.007-0.066-0.011-0.046-.008-0.069-0.01-0.075,0-.113-0.006l-0.025,0H783.14a1.466,1.466,0,0,0,0,2.93h2.668L774.18,964.428l-3.053-3.193a1.358,1.358,0,0,0-1.981,0L759.04,971.806l-3.017-3.155a1.358,1.358,0,0,0-1.981,0L748.931,974a1.513,1.513,0,0,0,0,2.072,1.358,1.358,0,0,0,1.981,0l4.12-4.31,3.017,3.155a1.358,1.358,0,0,0,1.981,0l10.106-10.57,3.053,3.193a1.358,1.358,0,0,0,1.981,0l12.619-13.2v2.791a1.4,1.4,0,1,0,2.8,0V950.8A1.427,1.427,0,0,0,790.583,950.656Zm-40.661-1.32a1.466,1.466,0,1,1-1.4,1.465A1.433,1.433,0,0,1,749.922,949.336Zm0,5.972a1.466,1.466,0,1,1-1.4,1.465A1.434,1.434,0,0,1,749.922,955.308Zm0,5.972a1.466,1.466,0,1,1-1.4,1.465A1.434,1.434,0,0,1,749.922,961.28Z', transform='translate(-740 -935)')
				+e.P Наша компания находится в постоянном развитии, каждый год открываются новые офисы и запускаются новые услуги.
				+e.P
					+e.STRONG На данный момент действуют 5 направлений деятельности:
					+e.A(href='#!') Юридическая фирма,
					= ' '
					+e.A(href='#!') Бухгалтерский центр,
					= ' '
					+e.A(href='#!') Коллекторское агенство,
					= ' '
					+e.A(href='#!') Магазин готового бизнеса,
					= ' '
					+e.A(href='#!') Центр недвижимости.

	//begin timeline
	+b.timeline
		+b.H4.title-md= story.subTitle
		+e.block.js-timeline
			+e.track
				+e.item
					+e.SPAN.item-year 2005 г.
					+e.P.item-descr
						+e.STRONG Знание финансовой составляющей деятельности клиента
						= ' '
						| помогает сделать работу качественнее. Поэтому в скором времени в компании открылось бухгалтерское направление (КБЦ).
				+e.item
					+e.SPAN.item-year 2006 г.
					+e.P.item-descr
						+e.STRONG У нас появилось коллекторское агентсво  (КА)  
						= ' '
						| которое органично дополнило существующих два напрвления деятельности.
				+e.item
					+e.SPAN.item-year 2007 г.
					+e.P.item-descr
						+e.STRONG Мы стали основателем площадки по продаже готового бизнеса (МГБ) 
						= ' '
						| Несмотря на трудности и риски кризисного времени, появилось первое направление, занимающееся не услугами, а продажами - направление жилой недвижимости .
				+e.item
					+e.SPAN.item-year 2008 г.
					+e.P.item-descr
						+e.STRONG Знание финансовой составляющей деятельности клиента
						= ' '
						| помогает сделать работу качественнее. Поэтому в скором времени в компании открылось бухгалтерское направление (КБЦ).
				+e.item
					+e.SPAN.item-year 2009 г.
					+e.P.item-descr
						+e.STRONG У нас появилось коллекторское агентсво  (КА)  
						= ' '
						| которое органично дополнило существующих два напрвления деятельности.
				+e.item
					+e.SPAN.item-year 2010 г.
					+e.P.item-descr
						+e.STRONG Мы стали основателем площадки по продаже готового бизнеса (МГБ) 
						= ' '
						| Несмотря на трудности и риски кризисного времени, появилось первое направление, занимающееся не услугами, а продажами - направление жилой недвижимости .
				+e.item
					+e.SPAN.item-year 2011 г.
					+e.P.item-descr
						+e.STRONG Знание финансовой составляющей деятельности клиента
						= ' '
						| помогает сделать работу качественнее. Поэтому в скором времени в компании открылось бухгалтерское направление (КБЦ).
				+e.item
					+e.SPAN.item-year 2012 г.
					+e.P.item-descr
						+e.STRONG У нас появилось коллекторское агентсво  (КА)  
						= ' '
						| которое органично дополнило существующих два напрвления деятельности.
				+e.item
					+e.SPAN.item-year 2013 г.
					+e.P.item-descr
						+e.STRONG Мы стали основателем площадки по продаже готового бизнеса (МГБ) 
						= ' '
						| Несмотря на трудности и риски кризисного времени, появилось первое направление, занимающееся не услугами, а продажами - направление жилой недвижимости .
				+e.item
					+e.SPAN.item-year 2014 г.
					+e.P.item-descr
						+e.STRONG Знание финансовой составляющей деятельности клиента
						= ' '
						| помогает сделать работу качественнее. Поэтому в скором времени в компании открылось бухгалтерское направление (КБЦ).
				+e.item
					+e.SPAN.item-year 2015 г.
					+e.P.item-descr
						+e.STRONG У нас появилось коллекторское агентсво  (КА)  
						= ' '
						| которое органично дополнило существующих два напрвления деятельности.
				+e.item
					+e.SPAN.item-year 2016 г
					+e.P.item-descr
						+e.STRONG Мы стали основателем площадки по продаже готового бизнеса (МГБ) 
						= ' '
						| Несмотря на трудности и риски кризисного времени, появилось первое направление, занимающееся не услугами, а продажами - направление жилой недвижимости .
				+e.item
					+e.SPAN.item-year 2017 г.
					+e.P.item-descr
						+e.STRONG Мы стали основателем площадки по продаже готового бизнеса (МГБ) 
						= ' '
						| Несмотря на трудности и риски кризисного времени, появилось первое направление, занимающееся не услугами, а продажами - направление жилой недвижимости .

			+e.range
				+e.range-line
					+e.range-btn#timeline-range-btn
				+e.range-text
					-rangeYearsList = [2005, 2007, 2009, 2011, 2013, 2015, 2017]
					for rangeYear in rangeYearsList
						+e.range-year= rangeYear