if values ? values : values = []
if values.title ? values.title : values.title = 'Цености  ГК «Бизнес-Гарант»'

//begin values
+b.SECTION.values(class= values.classMod ? values.classMod : '')
	+e.IMG.bg(src='static/img/bg/values.png' alt='image')

	+e.pic._left
		+e.hover-zone._left
		+e.text._left
			+e.text-title Гармоничное развитие
			+e.P Каждый сотрудник в его стремлении
				+e.BR
				| к личному и профессиональному росту выводит на новый уровень все компанию. Мы изучаем технологии и, внедряя лучшее, совершенствуем «Бизнес-Гарант».
		+e.IMG(src='static/img/bg/values-left.png' alt='image')
		+e.outline._left

	+e.pic._mid
		+e.hover-zone._mid
		+e.text._mid
			+e.text-title Гармоничное развитие
			+e.P Каждый сотрудник в его стремлении
				+e.BR
				| к личному и профессиональному росту выводит на новый уровень все компанию. Мы изучаем технологии и, внедряя лучшее, совершенствуем «Бизнес-Гарант».
		+e.outline._mid
		+e.IMG(src='static/img/bg/values-mid.png' alt='image')

	+e.pic._right
		+e.hover-zone._right
		+e.text._right
			+e.text-title Гармоничное развитие
			+e.P Каждый сотрудник в его стремлении
				+e.BR
				| к личному и профессиональному росту выводит на новый уровень все компанию. Мы изучаем технологии и, внедряя лучшее, совершенствуем «Бизнес-Гарант».
		+e.outline._right
		+e.IMG(src='static/img/bg/values-right.png' alt='image')