if work ? work : work = []
if work.title ? work.title : work.title = 'Работа в «Бизнес-Гарант»'

//begin work
+b.SECTION.work(class= work.classMod ? work.classMod : '')
	+e.container.container
		+e.H3.title.title-lg= work.title

		+b.c-tabs._work
			+e.tabs-nav
				-tabList = ['Бухгалтерский центр', 'Магазин готового бизнеса', 'Центр клиентского сервиса', 'Юридическая фирма', 'Стажеры']
				-actIndex = 1
				for tabEl, index in tabList
					+e.tabs-el(class= index === actIndex - 1 ? 'is-active' : '')
						+e.SPAN= tabEl
			+e.tabs-for
				-tabCount = 0
				while tabCount < 5
					+e.tab
						.work__block
							.work__block-col
								.work__block-item.work__block-item_resume
									h5.work__block-title Для наших сотрудников мы создаем все условия для комфортной и интересной работы! 
									.work__block-text
										p Заинтересовало одно из наших предложений и вы хотите  попасть к нам? 
										p Скорее связывайтесь с нашим  HR-отделом 
									button.work__block-btn-send.btn.btn_blue(type='button') отправить резюме

								.work__block-item.work__block-item_notify
									p Я хочу работать в ГК «Бизнес-Гарант»,
										br
										|  но у вас на данный момент среди открытых вакансий, подходящих мне, нет.
									p Что мне делать?
									button.work__block-btn.btn.btn_sm(type='button') нажми сюда

							.work__block-col
								.work__block-item
									h5.work__block-title Руководитель филиала  бухгалтерского направления
									p
										span ЗП - по договоренности 
									.work__block-descr.js-dot
										p Нашей команде профессионалов нужен активный и опытный специалист, который умеет работать в режиме многозадачности и знает бухгалтерский учет от “А” до “Я”!
									button.work__block-btn.btn.btn_sm(type='button') ПОДРОБНЕЕ

								.work__block-item
									h5.work__block-title Помощник бухгалтера без опыта работы
									p
										span ЗП - по договоренности 
									.work__block-descr.js-dot
										p Мы обучаем и развиваем своих сотрудников, обеспечивая максимальные возможности для карьерного роста! Уже через несколько месяцев работы у вас появится...
									button.work__block-btn.btn.btn_sm(type='button') ПОДРОБНЕЕ

							.work__block-col

								.work__block-item
									h5.work__block-title Бухгалтер по учёту заработной  платы 
									p
										span ЗП - по договоренности 
									.work__block-descr.js-dot
										p Попав к Нам, у Вас появится уникальный шанс приобрести опыт в деле бухгалтерского учета, освоить различные системы налогообложения и получить максимальное...
									button.work__block-btn.btn.btn_sm(type='button') ПОДРОБНЕЕ

								.work__block-item
									h5.work__block-title Бухгалтер на участок «расчетно- кассовое обслуживание» 
									p
										span ЗП - по договоренности 
									.work__block-descr.js-dot
										p Попав к Нам, у Вас появится уникальный шанс приобрести опыт в деле бухгалтерского учета, освоить различные системы налогообложения и получить максимальное...
									button.work__block-btn.btn.btn_sm(type='button') ПОДРОБНЕЕ

						-tabCount++